@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.react-datepicker__month-container {
  width: 1400px;
}
.react-datepicker__day-names {
  width:1400px;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #5b6460!important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  height: 2em!important;
}